In [ ]:

list/tuple - collection of ordered items - index based 

L=['D1','D2',10,1.3]  =>   | D1  |  D2  | 10  | 1.3  |
                           |  0  |   1  |  2  |  3   | <== Index
dict - like Hash 
\__ Collection of unordered item(key:value)

Syntax:-
--------
dictName = {'Key1':Value,'Key2':Value,...'Kn':Vn} 

    +-------------------------------+
    |   Key       |     Value       |
    +-------------|-----------------+
    |   Key1      |     Value1      |
    +-------------|-----------------|
    |   Key2      |     Value2      |
    +-------------|-----------------|
       ..                 .
    |   KeyN      |      ValueN     |
    +-------------------------------+

In [9]:
prod_info = {'pID':101,'pName':'prodA','pCost':4500,'pStatus':True}
print(type(prod_info))
print(len(prod_info))
print(prod_info)

<class 'dict'>
4
{'pID': 101, 'pName': 'prodA', 'pCost': 4500, 'pStatus': True}

In [4]:
# how to get single value from dict
#  dictName['Key'] ->Value / KeyError

print(prod_info['pID'])
print(prod_info['pid'])

101

KeyError: 'pid'

In [5]:
d={10:'V1',1.0:50,True:'V2',():'V3'}
print(d)

{10: 'V1', 1.0: 'V2', (): 'V3'}

In [10]:
print(prod_info)

{'pID': 101, 'pName': 'prodA', 'pCost': 4500, 'pStatus': True}

In [11]:
print(prod_info['pCost'])
prod_info['pCost']=5600 # we can modify dict value - using existing key
print(prod_info)

4500
{'pID': 101, 'pName': 'prodA', 'pCost': 5600, 'pStatus': True}

In [14]:
# python supports multiple initialization
v1,v2,v3 = 10,[],{}
print(type(v1),type(v2),type(v3))

<class 'int'> <class 'list'> <class 'dict'>

In [15]:
L=['D1','D2','D3']
va,vb,vc = L  # multiple initialization
print(va)
print(vb)
print(vc)

D1
D2
D3

In [17]:
v1,v2,v3,v4=10,20,30

ValueError: not enough values to unpack (expected 4, got 3)

In [12]:
prod_info['pName'],prod_info['pCost'] = 'prodB',6000

In [13]:
print(prod_info)

{'pID': 101, 'pName': 'prodB', 'pCost': 6000, 'pStatus': True}

In [ ]:
# To add new data(key:value) to an existing dict
dictName['newKey'] = value

# To modify an existing value from dict
dictName['oldKey'] = updatedValue

In [18]:
print(prod_info)

{'pID': 101, 'pName': 'prodB', 'pCost': 6000, 'pStatus': True}

In [19]:
prod_info['pVendor'] = 'Klabs' # adding new data
prod_info['pCost']  = 5467     # modifing an existing value

In [20]:
print(prod_info)

{'pID': 101, 'pName': 'prodB', 'pCost': 5467, 'pStatus': True, 'pVendor': 'Klabs'}

In [21]:
L=['D1',10,20,30]
for var in L:
    print(var)

D1
10
20
30

In [22]:
for var in prod_info:
    print(var)

pID
pName
pCost
pStatus
pVendor

In [23]:
print(prod_info['pID'])

101

In [24]:
for var in prod_info:
    print(prod_info[var])

101
prodB
5467
True
Klabs

In [26]:
for var in prod_info:
    print(f'{var} - {prod_info[var]}')

pID - 101
pName - prodB
pCost - 5467
pStatus - True
pVendor - Klabs

In [ ]:
# To get single data from dict

#dictName['oldKey'] ->Value / KeyError <or> dictName.get('oldKey') ->Value/None

In [27]:
print(prod_info['pid'])

KeyError: 'pid'

In [28]:
print(prod_info.get('pid'))

None

In [29]:
print(prod_info.get('pID'))

101

In [30]:
d={} # empty dict

# To add new data to an existing dict
#
# dictName['newKey']=value <or> dictName.setdefault('newKey',Value)

d['K1']='V1' # adding new data
d['K2']=10   # adding new data

d.setdefault('K3',45.23) # adding new data
d.setdefault('K4',True)  # adding new data
print(d)

{'K1': 'V1', 'K2': 10, 'K3': 45.23, 'K4': True}

In [31]:
d['K1']='index.html'
d['K3']='network.conf'
print(d)

{'K1': 'index.html', 'K2': 10, 'K3': 'network.conf', 'K4': True}

In [32]:
# to get list of keys from dict
for var in d:
    print(var)

K1
K2
K3
K4

In [33]:
d.keys() # to get list of keys from dict

dict_keys(['K1', 'K2', 'K3', 'K4'])

In [34]:
for var in d.keys():
    print(var)

K1
K2
K3
K4

In [ ]:
d.get() d.setdefault() d.keys()

In [35]:
# how to delete nth item from dict
# dictname.pop('oldKey') ->removed_Value
d.pop('K1')

'index.html'

In [36]:
print(d)

{'K2': 10, 'K3': 'network.conf', 'K4': True}

In [ ]:
# membership operators(inputs: str,bytes,list,tuple,dict,set) ->output_bool
#  in not in                                                   (True False)
#
# 'search_Pattern_string' in input_Collection ->bool

In [37]:
s='root:x:bin'
'bin' in s

True

In [38]:
'x' in s

True

In [40]:
'X' in s

False

In [41]:
'sales' == 'sales'

True

In [42]:
'sales' in 'sales'

True

In [43]:
'sales,' == 'sales'

False

In [44]:
'sales' in 'raj,sales,pune,1234'

True

In [45]:
L

['D1', 10, 20, 30]

In [46]:
'D1' in L

True

In [47]:
'Dx' in L

False

In [48]:
d

{'K2': 10, 'K3': 'network.conf', 'K4': True}

In [49]:
'K2' in d

True

In [50]:
'K1' in d

False

In [51]:
if('D1' in L):
    print('Yes D1 is exists')
else:
    print('Sorry D1 is not exists')

Yes D1 is exists

In [52]:
d

{'K2': 10, 'K3': 'network.conf', 'K4': True}

In [54]:
print(d.get('K1'))

None

In [55]:
'K1' in d

False

In [56]:
print(bool(0),bool(0.0),bool(''),bool([]),bool(()),bool({}),bool(None))

False False False False False False False

In [57]:
n=0
if(n):
    print('Yes')
else:
    print('No')

No

In [58]:
print(bool(-1),bool(1),bool(342342423423))

True True True

In [59]:
n=1
if(n):
    print('Yes')
else:
    print('No')

Yes

In [60]:
if(d.get('K1')):
    print('Yes given key K1 is exists')
    print(d['K1'])
    d['K1']='updated_value'
else:
    print('Sorry Key K1 is not exists from d')

Sorry Key K1 is not exists from d

In [61]:
if('K1' in d):
    print('Yes given key K1 is exists')
    print(d['K1'])
    d['K1']='updated_value'
else:
    print('Sorry Key K1 is not exists from d')

Sorry Key K1 is not exists from d

In [ ]:
Write a python program:
    create an emp dict -> net_property = {}
    |
    using while loop - limit 3 
         -> read network property key from <STDIN>(ex: Type,IP,boot_proto)
         -> read network property value from <STDIN>(ex: Ethernet,10.20.30.40,yes)
         -> add input data to dict
             property_key ->dict_key ; property_value ->dict_value

    |
    using for loop - display list of key - value from dict
    |
    test Key 'IP' is exists or not
                      |         \___ key is not exists
                  update IP Address and display updated dict details to monitor

In [62]:
d={}
s1='Type'
s2='Ethernet'

d[s1] = s2 # d.setdefault(s1,s2)
print(d)

{'Type': 'Ethernet'}

In [63]:
net_property = {} # empty dict
c=0
while(c < 3): # limit 
    K = input('Enter a network property key:')
    V = input(f'Enter {K} value:')
    net_property[K] = V # adding data to an existing dict
    c=c+1
print('') # empty line
print('''Network property details:-
-------------------------------------''')
for var in net_property: # iterate list of keys from dict
    print(f'{var} - {net_property[var]}')

if('IP' in net_property): # test input Key IP is existing or not
    net_property['IP'] = '127.0.0.1' # updating dict value
    print('Updated network details:-')
    for var in net_property:
        print(f'{var} - {net_property[var]}')
else:
    print('Sorry Key: IP is not exists')

Enter a network property key:Type
Enter Type value:Ethernet
Enter a network property key:IP
Enter IP value:192.168.1.100
Enter a network property key:onboot
Enter onboot value:yes

Network property details:-
-------------------------------------
Type - Ethernet
IP - 192.168.1.100
onboot - yes
Updated network details:-
Type - Ethernet
IP - 127.0.0.1
onboot - yes

In [ ]:
list,tuple,dict -> 1D

List of list/tuple/dict 

L=[[10,20,30],('D1','D2'),{'K1':'V1','K2':'V2'}]
|  ==========|===========|====================
|     0           1                2
type(L) -><class 'list'>

In [71]:
L=[[10,20,30],('D1','D2'),{'K1':'V1','K2':'V2'}]
print(type(L),len(L))
print(type(L[0]),type(L[1]),type(L[2]))
print(L[0])
print(L[0][0])
print(L[1])
print(L[1][0])
print(L[-1])
print(L[-1]['K1'])

<class 'list'> 3
<class 'list'> <class 'tuple'> <class 'dict'>
[10, 20, 30]
10
('D1', 'D2')
D1
{'K1': 'V1', 'K2': 'V2'}
V1

In [ ]:
records = [('A101','itemA',1000),('A102','itemB',2000)]
# records[0]='D1' # OK
records[0][0]='D1' # Error

In [72]:
T=([],[]) # tuple of list
print(len(T))
print(type(T))
print(type(T[0]))

2
<class 'tuple'>
<class 'list'>

In [73]:
T[0].append('D1')
T[0].append('D2')
T[0].append('D3')
T[0].append('D4')
T[0].append('D4')
print(len(T))

2

In [74]:
print(T)

(['D1', 'D2', 'D3', 'D4', 'D4'], [])

In [75]:
T[0]='Dx'

TypeError: 'tuple' object does not support item assignment

In [76]:
T[0][0]='Dx'
T[0].append('Dy')
T

(['Dx', 'D2', 'D3', 'D4', 'D4', 'Dy'], [])

In [ ]:
tuple of list/tuple/dict
##########################

In [ ]:
dict of list/tuple/dict

In [83]:
prod_IDs = {'pid':[101,102,103]} # dict of list
prod_Names = {'pNames':('prodA','prodB','prodC')} # dict of tuple

print(type(prod_IDs),type(prod_IDs['pid']))
print(prod_IDs['pid'])
print(prod_IDs['pid'][0])
print(prod_Names['pNames'])
print(prod_Names['pNames'][0])

<class 'dict'> <class 'list'>
[101, 102, 103]
101
('prodA', 'prodB', 'prodC')
prodA

In [84]:
products={'pNames':['prodA','prodB','prodC'],'pCosts':[1000,2000,3000]}
# dict of list
# Key:[]

# dict of tuple
# Key:()

# dict of dict
# d={Key:{...}}

In [85]:
import pandas
pandas.DataFrame(products)

  pNames  pCosts
0  prodA    1000
1  prodB    2000
2  prodC    3000

In [86]:
d={'K1':'V1','K2':'V2','K1':10,'K3':'V2'}
d

{'K1': 10, 'K2': 'V2', 'K3': 'V2'}

In [91]:
d={'K1':{'K1':'V1','K2':'V2'},'K2':{'K1':10,'K2':20}}
print(d)
print(d['K1'])
print(d['K1']['K1'])
print(d['K1']['K2'])
print(d['K2']['K1'])

{'K1': {'K1': 'V1', 'K2': 'V2'}, 'K2': {'K1': 10, 'K2': 20}}
{'K1': 'V1', 'K2': 'V2'}
V1
V2
10

In [95]:
d={'K1':[{'url':'urlA','port':8080,'others':['D1','D2',{'K1':'V1'}]}],'K2':{'K1':{'K1':[1,2,3]}}}
d['K3']=[10,20,30,40,50]
d['K4']={'K1':'DB1','K2':'DB2'}
d['K5']={'K1':[{'server':'googleApis','port':9090},{'K1':'Vx'}]}
print(d)

{'K1': [{'url': 'urlA', 'port': 8080, 'others': ['D1', 'D2', {'K1': 'V1'}]}], 'K2': {'K1': {'K1': [1, 2, 3]}}, 'K3': [10, 20, 30, 40, 50], 'K4': {'K1': 'DB1', 'K2': 'DB2'}, 'K5': {'K1': [{'server': 'googleApis', 'port': 9090}, {'K1': 'Vx'}]}}

In [96]:
import pprint
pprint.pprint(d)

{'K1': [{'others': ['D1', 'D2', {'K1': 'V1'}], 'port': 8080, 'url': 'urlA'}],
 'K2': {'K1': {'K1': [1, 2, 3]}},
 'K3': [10, 20, 30, 40, 50],
 'K4': {'K1': 'DB1', 'K2': 'DB2'},
 'K5': {'K1': [{'port': 9090, 'server': 'googleApis'}, {'K1': 'Vx'}]}}

In [98]:
d['K1'][0]['others'][2]['K1']

'V1'

In [99]:
d['K1'][0]['others'][2]['K1']='Updated_Value' # modification

In [100]:
pprint.pprint(d)

{'K1': [{'others': ['D1', 'D2', {'K1': 'Updated_Value'}],
         'port': 8080,
         'url': 'urlA'}],
 'K2': {'K1': {'K1': [1, 2, 3]}},
 'K3': [10, 20, 30, 40, 50],
 'K4': {'K1': 'DB1', 'K2': 'DB2'},
 'K5': {'K1': [{'port': 9090, 'server': 'googleApis'}, {'K1': 'Vx'}]}}

In [97]:
pprint.pprint(d['K5'])

{'K1': [{'port': 9090, 'server': 'googleApis'}, {'K1': 'Vx'}]}

In [ ]:
collection
 |->str ->Collection of chars - index - immutable 
 |->bytes->Collection of chars ASCII - index - immutable 
 |
 |->list ->Collection of different types of items - index - mutable - []
 |->tuple ->Collection of different types of items - index - immutable - ()
 |
 |->dict -> Collection of different types of items(key:value) - key-mutable-{}
              # unordered 
 Vs
 |
 |->set ->  Collection of different types of items (not index; not key:value)
            set not allows duplicate value
             # unordered

In [102]:
s={10,20,30,10,20,30,10,20,'K1','V1','K1','V1'}
print(type(s),len(s))
print(s)

<class 'set'> 5
{'K1', 20, 'V1', 10, 30}

In [104]:
L=['D1','D2','D1','D2','D3','D1','D2']
L.append('D1')
L.append('D2')
print(len(L),type(L),L)

9 <class 'list'> ['D1', 'D2', 'D1', 'D2', 'D3', 'D1', 'D2', 'D1', 'D2']

In [105]:
set(L) # typecast to set

{'D1', 'D2', 'D3'}

In [106]:
L=list(set(L)) # typecast to set ->type cast to list
L # unique value

['D2', 'D3', 'D1']

In [ ]:
Function
 - definition - code block 
 - function Call - To invoke a definition

In [112]:
def f1():
    print('List of files')
    L=['p1.log','p2.log','p3.java']
    for var in L:
        print(var)
    print("Exit from f1 block")
    
f1()

List of files
p1.log
p2.log
p3.java
Exit from f1 block

In [113]:
for v in [1,2,3]:
    f1()
    print('')

List of files
p1.log
p2.log
p3.java
Exit from f1 block

List of files
p1.log
p2.log
p3.java
Exit from f1 block

List of files
p1.log
p2.log
p3.java
Exit from f1 block

In [119]:
def f1(a1,a2): # Required arguments
    print("a1 value:",a1,"a2 value:",a2)
    
# f1() TypeError: f1() missing 2 required positional arguments: 'a1' and 'a2'

# f1(10) TypeError: f1() missing 1 required positional argument: 'a2'

# f1(10,20,30) TypeError: f1() takes 2 positional arguments but 3 were given

f1(10,20)
f1([],())
f1({},True)

a1 value: 10 a2 value: 20
a1 value: [] a2 value: ()
a1 value: {} a2 value: True

In [124]:
def f2(a1=10,a2=True): # default args
    print("a1 value:",a1,"a2 value:",a2)
    
f2()
f2('Data1')
f2('D1','D2')
# f2(100,200,300) TypeError: f2() takes from 0 to 2 positional arguments 
#                           but 3 were given

a1 value: 10 a2 value: True
a1 value: Data1 a2 value: True
a1 value: D1 a2 value: D2

In [125]:
def mylogin(name,password,host="devserver",connection="ssh"):
    print('Login name:',name)
    print('hostname:',host,"connection Type:",connection)
    print('-'*50)

In [130]:
# mylogin()
# TypeError: mylogin() missing 2 required positional arguments: 
# 'name' and 'password'
      
mylogin('UserA','abc@123')
print('')
mylogin('UserB','abc@455','QAServer')
print('')
mylogin('UserC','Ta@455','TestServer','ftp')

Login name: UserA
hostname: devserver connection Type: ssh
--------------------------------------------------

Login name: UserB
hostname: QAServer connection Type: ssh
--------------------------------------------------

Login name: UserC
hostname: TestServer connection Type: ftp
--------------------------------------------------

In [131]:
d={}
d.setdefault('K1','V1')
d.setdefault('K2')
d

{'K1': 'V1', 'K2': None}

In [135]:
#d.setdefault()  ->Error
#d.setdefault('Kx','Vx','Vy') ->Error

# def setdefault(Key,value=None):
#    pass

In [136]:
def fx(a1,a2,a3,a4,a5=True,a6=100,a7):
    print("OK")

SyntaxError: non-default argument follows default argument (3842966326.py, line 1)

In [139]:
def f3(*args): # variable length
    print(type(args))
    print(args)

In [142]:
f3()
print('')
f3("D1")
print('')
f3(10,20,30,40,2.434,'D1','D2')

<class 'tuple'>
()

<class 'tuple'>
('D1',)

<class 'tuple'>
(10, 20, 30, 40, 2.434, 'D1', 'D2')

In [144]:
def fx(*args):
    print(args)
    
fx()
fx(1,2,3)
fx(user='root',password='abc@123')

()
(1, 2, 3)

TypeError: fx() got an unexpected keyword argument 'user'

In [145]:
def fx(**kwargs): # keyword args
    print(type(kwargs))
    print(kwargs)
    
fx()
fx(user='root',shell='/bin/bash',IP='127.0.0.1')

<class 'dict'>
{}
<class 'dict'>
{'user': 'root', 'shell': '/bin/bash', 'IP': '127.0.0.1'}

In [146]:
def fx(**kwargs,*args):
    print("OK")

SyntaxError: arguments cannot follow var-keyword argument (1919669061.py, line 1)

In [148]:
def fx(**a):
    print(a)
    
fx()
fx(Va=10,Vb=20)
# fx(1,2,3) # Error

{}
{'Va': 10, 'Vb': 20}

In [149]:
def fdisplay():
    global Vx,Vy
    Vx = "data1.csv"
    Vy = "prod1.csv"
    myvar1 = 100
    myvar2 = 200
    print(Vx,Vy,myvar1,myvar2)
    print('Exit from fdisplay block')

In [150]:
fdisplay()

data1.csv prod1.csv 100 200
Exit from fdisplay block

In [154]:
print(Vx,Vy)
# print(myvar1) # NameError: name 'myvar1' is not defined

data1.csv prod1.csv

In [158]:
def fA():
    return 10
def fB():
    v=100
    
r1 = fA()
r2 = fB()
print(r1)
print(r2)

10
None

In [155]:
L = []

def fx(a):
    if( a > 10):
        return a+100
    
for var in [15,35,25,1,2,3]:
    r = fx(var)
    L.append(r)
    
print(L)

[115, 135, 125, None, None, None]

In [ ]:
Write a python program
  - define function1 ->nameTest def nameTest():
              \__args: login name and login shell
                       test login name is root and login shell name bash
                       both condition is matched - return message - Success
                                           |_ not matched - Failed.
                        
  - modify -> login shell name is /bin/bash (default shell)
  |
  - modify ->variable length - any number args
  |
  - modify -> login name and login shell name as keyword args

In [162]:
def f1(a1,a2): # required arguments
    if(a1 == 'root' and a2 == 'bash'):
        return True
    else:
        return False
    
r = f1('root','ksh')
if(r):
    print('Login is matched')
else:
    print('Login is Not matched')

Login is Not matched

In [163]:
if(f1('root','bash')):
    print('Login is matched')
else:
    print('Login is not matched')

Login is matched

In [166]:
def f2(a1,a2="bash"):
    if(a1 == 'root' and a2 == "bash"):
        return True
    else:
        return False

In [168]:
if(f2('root','bash')):
    print('Login is matched')
else:
    print('Login is not matched')

Login is matched

In [169]:
if(f2('root')):
    print('Login is matched')
else:
    print('Login is not matched')

Login is matched

In [170]:
if(f2('root','csh')):
    print('Login is matched')
else:
    print('Login is not matched')

Login is not matched

In [174]:
def f3(*args):
    if(args):
        print(args)
    else:
        print("Empty arguments")
        return 0
    
f3()

Empty arguments

0

In [173]:
print(bool(()),bool([]),bool({}),bool(''),bool(0),bool(0.0),bool(None))

False False False False False False False

In [179]:
def f3(*args):
    if not(args):
        return 0
    user_name,shell_name = args # multiple initialization
    if(user_name == 'root' and shell_name == 'bash'):
        return True
    else:
        return False

In [182]:
if(f3() == 0):
    print('Empty arguments')
 
print('')
if(f3('root','bash')):
    print('Login is matched')
else:
    print('Login is not matched')

Empty arguments

Login is matched

In [184]:
def fx(*args):
    print(args[0],args[1])
    
fx('D1','D2')
fx('D3')

D1 D2

IndexError: tuple index out of range

In [190]:
def f34(**kwargs): 
    if not(kwargs):
        return 0
    user_name = kwargs['name']
    shell_name = kwargs['sh']
    if(user_name == 'root' and shell_name == 'bash'):
        return True
    else:
        return False

In [191]:
if(f34() == 0):
    print('Empty args')

Empty args

In [187]:
if(f34(name='root',sh='bash')):  # keyword args call 
    print('Login is matched')
else:
    print('Login is not-matched')

Login is matched

In [193]:
s='usrA,sales,pune,1000'
print(type(s),len(s))

# split single data ->multiple values -> input_stringName.split() ->output_list

s.split(",")

<class 'str'> 20

['usrA', 'sales', 'pune', '1000']

In [195]:
L = s.split(",")
print(type(L),len(L))
print(L[0],L[-1])

<class 'list'> 4
usrA 1000

In [209]:
def fx(a):
    print(a.loc[1]['K1'])
    print(a)
    a.fillna(value='OK',inplace=True)
    print(a)
    
df = pandas.DataFrame({'K1':[10,20,30,None]})
fx(df)

20.0
     K1
0  10.0
1  20.0
2  30.0
3   NaN
     K1
0  10.0
1  20.0
2  30.0
3    OK

In [210]:
df

     K1
0  10.0
1  20.0
2  30.0
3    OK

In [211]:
open('E:\\emp.csv')

In [212]:
fobj = open('E:\\emp.csv')
fobj.read()

'eid,ename,edept,eplace,ecost\n101,raj,sales,pune,1000\n102,leo,prod,bglore,2000\n103,paul,HR,chennai,3000\n104,anu,hr,hyderabad,4000\n456,kumar,sales,bglore,3000\n105,zion,Hr,mumbai,5000\n106,bibu,sales,bglore,1450\n107,theeb,sales,noida,4590\n108,bibu,sales,bglore,5000'

In [213]:
fobj = open('E:\\emp.csv')
fobj.readlines()

['eid,ename,edept,eplace,ecost\n',
 '101,raj,sales,pune,1000\n',
 '102,leo,prod,bglore,2000\n',
 '103,paul,HR,chennai,3000\n',
 '104,anu,hr,hyderabad,4000\n',
 '456,kumar,sales,bglore,3000\n',
 '105,zion,Hr,mumbai,5000\n',
 '106,bibu,sales,bglore,1450\n',
 '107,theeb,sales,noida,4590\n',
 '108,bibu,sales,bglore,5000']

In [215]:
fobj = open('E:\\emp.csv') # fobj=open('C:\\Users\\Downloads\\emp.csv')
s = fobj.read()
fobj.close()
print(type(s),len(s),'\n')
print(s)
print('')
print(s.upper())

<class 'str'> 261

eid,ename,edept,eplace,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2000
103,paul,HR,chennai,3000
104,anu,hr,hyderabad,4000
456,kumar,sales,bglore,3000
105,zion,Hr,mumbai,5000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000

EID,ENAME,EDEPT,EPLACE,ECOST
101,RAJ,SALES,PUNE,1000
102,LEO,PROD,BGLORE,2000
103,PAUL,HR,CHENNAI,3000
104,ANU,HR,HYDERABAD,4000
456,KUMAR,SALES,BGLORE,3000
105,ZION,HR,MUMBAI,5000
106,BIBU,SALES,BGLORE,1450
107,THEEB,SALES,NOIDA,4590
108,BIBU,SALES,BGLORE,5000

In [216]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()
print(type(L),len(L))

<class 'list'> 10

In [217]:
L[0]

'eid,ename,edept,eplace,ecost\n'

In [218]:
L[-3:] # last 3 lines

['106,bibu,sales,bglore,1450\n',
 '107,theeb,sales,noida,4590\n',
 '108,bibu,sales,bglore,5000']

In [219]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()

In [220]:
for var in L:
    print(var)

eid,ename,edept,eplace,ecost

101,raj,sales,pune,1000

102,leo,prod,bglore,2000

103,paul,HR,chennai,3000

104,anu,hr,hyderabad,4000

456,kumar,sales,bglore,3000

105,zion,Hr,mumbai,5000

106,bibu,sales,bglore,1450

107,theeb,sales,noida,4590

108,bibu,sales,bglore,5000

113,kumar,prod,hyderabad,5423

In [221]:
s="data\n"
s.strip()

'data'

In [222]:
for var in L:
    var=var.strip() # remove \n chars
    print(var)

eid,ename,edept,eplace,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2000
103,paul,HR,chennai,3000
104,anu,hr,hyderabad,4000
456,kumar,sales,bglore,3000
105,zion,Hr,mumbai,5000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000
113,kumar,prod,hyderabad,5423

In [223]:
def file_read(fname):
    fobj = open(fname)
    L = fobj.readlines()
    fobj.close()
    for var in L:
        var=var.strip() # remove \n chars
        print(var)     # display file content to monitor

In [224]:
file_read('e:\\emp.csv')

eid,ename,edept,eplace,ecost
101,raj,sales,pune,1000
102,leo,prod,bglore,2000
103,paul,HR,chennai,3000
104,anu,hr,hyderabad,4000
456,kumar,sales,bglore,3000
105,zion,Hr,mumbai,5000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000
113,kumar,prod,hyderabad,5423

In [ ]:
# findstr <pattern> inputFile

read a inputFile content -line by line   - File Handling
search a pattern from <inputLine>        - use membership 'sales' in ...
print matched pattern line only          - if only style

In [225]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()

for var in L:
    var=var.strip()
    if('sales' in var):
        print(var)

101,raj,sales,pune,1000
456,kumar,sales,bglore,3000
106,bibu,sales,bglore,1450
107,theeb,sales,noida,4590
108,bibu,sales,bglore,5000

In [227]:
def myfind_str(arg1,arg2='E:\\emp.csv'):
    fobj = open(arg2)
    L = fobj.readlines()
    fobj.close()
    for var in L:
        var=var.strip()
        if(arg1 in var):
            print(var)

In [228]:
myfind_str('prod')

102,leo,prod,bglore,2000
113,kumar,prod,hyderabad,5423

In [226]:
d={}
d['CSV']=L # adding new data to an existing dict
d # dict of list

{'CSV': ['eid,ename,edept,eplace,ecost\n',
  '101,raj,sales,pune,1000\n',
  '102,leo,prod,bglore,2000\n',
  '103,paul,HR,chennai,3000\n',
  '104,anu,hr,hyderabad,4000\n',
  '456,kumar,sales,bglore,3000\n',
  '105,zion,Hr,mumbai,5000\n',
  '106,bibu,sales,bglore,1450\n',
  '107,theeb,sales,noida,4590\n',
  '108,bibu,sales,bglore,5000\n',
  '113,kumar,prod,hyderabad,5423']}

In [229]:
d['CSV'][5]

'456,kumar,sales,bglore,3000\n'

In [230]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()

for var in L:
    var=var.strip()
    if('sales' in var):
        print(var.split(","))

['101', 'raj', 'sales', 'pune', '1000']
['456', 'kumar', 'sales', 'bglore', '3000']
['106', 'bibu', 'sales', 'bglore', '1450']
['107', 'theeb', 'sales', 'noida', '4590']
['108', 'bibu', 'sales', 'bglore', '5000']

In [231]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()

for var in L:
    var=var.strip() # remove \n chars
    if('sales' in var):
        eid,ename,edept,eplace,ecost = var.split(",") # split single data to multiple values
        print(f'{ename.title()}\t{eplace.upper()}')

Raj	PUNE
Kumar	BGLORE
Bibu	BGLORE
Theeb	NOIDA
Bibu	BGLORE

In [234]:
fobj = open('E:\\emp.csv')
L = fobj.readlines()
fobj.close()

total = 0
for var in L:
    var=var.strip() # remove \n chars
    if('sales' in var):
        eid,ename,edept,eplace,ecost = var.split(",") # split single data to multiple values
        print(f'\t{ename.title()}\t{eplace.upper()}')
        total = total + int(ecost)
        
print('-'*45)
print(f"\tSum of sales Emp's Cost:{total}")
print('-'*45)

	Raj	PUNE
	Kumar	BGLORE
	Bibu	BGLORE
	Theeb	NOIDA
	Bibu	BGLORE
---------------------------------------------
	Sum of sales Emp's Cost:15040
---------------------------------------------

In [238]:
# To create a new file and write data to file
pid=101
pName='prodA'
pcost=456.23

wobj = open('E:\\DAY2\\r1.log','w')
wobj.write("test data1\n")
wobj.write(str(pid)+"\n")
wobj.write("prod Name:"+pName+"\n")
wobj.write(str(pid)+","+pName+","+str(pcost)+","+str(pcost * 0.18)+"\n")
wobj.close()

In [239]:
emp={}
emp['eid']=101
emp['ename']='Arun'
emp['ecity']='bglore'
emp['Cost']=243423.32

In [241]:
wobj = open('E:\\DAY2\\r2.log','w')
for var in emp:
    wobj.write(f'{var}:{emp[var]}\n')
wobj.close()

In [242]:
wobj = open('E:\\DAY2\\r2.log','a') # a - append
wobj.write('-'*50+'\n')
wobj.close()

In [ ]:
# Reading data from InputFile ->python ->create and write data to ResultFile
fobj = open('InputFile')
wobj = open('ResultFile','w')
s = fobj.read()
wobj.write(s)
fobj.close()
wobj.close()

In [245]:
# Test IP.log file is existing or not
import os
"IP.log" in os.listdir(".")

False

In [246]:
# Test emp.csv file is existing or not
"emp.csv" in os.listdir(".")

True

In [247]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [ ]:
help(sys)

In [248]:
print(sys.platform)

win32

In [249]:
print(sys.path)

['C:\\Users\\Raja', 'E:\\project', 'C:\\ProgramData\\anaconda3\\python311.zip', 'C:\\ProgramData\\anaconda3\\DLLs', 'C:\\ProgramData\\anaconda3\\Lib', 'C:\\ProgramData\\anaconda3', '', 'C:\\Users\\Raja\\AppData\\Roaming\\Python\\Python311\\site-packages', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\vboxapi-1.0-py3.11.egg', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [251]:
import json
import re
import pprint
import os
import mytestab

ModuleNotFoundError: No module named 'mytestab'